.cart-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    padding:20px 10px;
    border: 2px solid black;   
}
.cart-item-container .name {
    font-size: 25px;
}
.cart-item-container .right-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.separator {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 10px 0;
}
